@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;

  .btn-logout {
    color: $common-text-color;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background-color: darken($colormain, 5);
    }
    i {
      font-size: $base-size + 1px;
    }
  }

  .languages {
    display: flex;
    align-items: center;

    .welcome {
      margin-right: 10px;
    }

    .language-en,
    .language-vi {
      margin: 0 10px;
      cursor: pointer;

      &.active {
        opacity: 1;
      }
    }

    .language-en.active {
      color: #30d663;
    }

    .language-vi.active {
      color: orange;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    height: auto;

    .languages {
      margin-top: 10px;
    }

    .header-tabs-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }

  @media (max-width: 480px) {
    .btn-logout {
      padding: 0 5px;

      i {
        font-size: $base-size;
      }
    }

    .languages {
      flex-direction: column;

      .welcome {
        margin-bottom: 10px;
      }

      .language-en,
      .language-vi {
        margin: 5px 0;
      }
    }
  }
}
